---
import Layout from "../../../layouts/Layout.astro";
import Navigation from "../../../components/Navigation.astro";
import * as postRepository from "../../../repositories/posts.astro";

import { Icon } from "astro-icon";
import Giscus from "../../../components/Giscus.astro";

export async function getStaticPaths() {
  const posts = await postRepository.all();

  return posts.map((post) => {
    return {
      params: {
        created_at: post.created_at,
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });
}

const { created_at, slug } = Astro.params;
const { post } = Astro.props;
const { frontmatter } = post;

const Content = post.Content;
---

<Layout title={frontmatter.title}>
  <div class="px-4 text-sm breadcrumbs">
    <ul>
      <li>
        <a href="/blog">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 mr-2 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path></svg>
          Blog
        </a>
      </li>
      <li>
        <a href={`/blog/${created_at}/${slug}/`}>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 mr-2 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path></svg>
          {frontmatter.title}
        </a>
      </li>
    </ul>
  </div>
  <div class="prose lg:prose-xl px-4 mx-auto my-12">
    <h1 class="text-4xl font-bold text-center my-8">{frontmatter.title}</h1>
    <div class="flex justify-center items-center mb-16">
      <Icon class="inline mr-1" pack="codicon" name="calendar" size={16} />
      <span>{post.created_at}</span>
    </div>
    <section>
      <Content components={{ h2: 'h3' }} />
    </section>
    <div class="divider my-20">Comments</div>
    <section class="my-6">
      <Giscus />
    </section>
  </div>
</Layout>

<style is:global>
  
</style>