---
import Layout from "../..//layouts/Layout.astro";
import Navigation from "../../components/Navigation.astro";
import * as postRepository from "../../repositories/posts.astro";

import { Icon } from "astro-icon";

const pageTitle = "Blog";

const allPosts = await postRepository.all();
---

<Layout title={pageTitle}>
  <h1 class="text-4xl font-bold text-center mb-16">{pageTitle}</h1>
  
  <ol class="ml-16 relative text-gray-500 border-l border-gray-200">
    {allPosts.map((post) => 
      <li class="mb-12 ml-20">
        <span class="absolute flex items-center justify-center w-24 h-8 -left-10 bg-gray-200 rounded-full text-sm">
          {post.created_at}
        </span>
        <h3 class="pt-1.5 font-medium text-black leading-tight">
          <a
            class="hover:underline"
            href={`/blog/${post.created_at}/${post.slug}/`}
          >
            {post.frontmatter.title}
          </a>
        </h3>
        <p class="text-sm">{post.frontmatter.description}</p>
      </li>)
    }
  </ol>
</Layout>
