---
import Layout from "../..//layouts/Layout.astro";
import Navigation from "../../components/Navigation.astro";
import * as postRepository from "../../repositories/posts.astro";

import { Icon } from "astro-icon";

const pageTitle = "Blog";

const allPosts = await postRepository.all();
---

<Layout title={pageTitle}>
  <Navigation />
  <main class="my-8">
    <h1 class="text-4xl font-bold text-center mb-16">{pageTitle}</h1>
    <div class="grid grid-cols-1 mx-8 divide-y divide-solid">
      {
        allPosts.map((post) => (
          <section class="py-8 first:pt-0 last:pb-0">
            <div class="flex items-center">
              <Icon
                class="inline mr-1"
                pack="codicon"
                name="calendar"
                size={16}
              />
              <span>{post.created_at}</span>
            </div>
            <div class="text-lg font-medium">
              <a
                class="hover:underline"
                href={`/blog/${post.created_at}/${post.slug}/`}
              >
                {post.frontmatter.title}
              </a>
            </div>
            <div class="text-gray-600 text-sm mt-2">
              {post.frontmatter.description}
            </div>
          </section>
        ))
      }
    </div>
  </main>
</Layout>
