---
import Layout from "../..//layouts/Layout.astro";
import type { BreadcrumbElement } from "../../components/Breadcrumb.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import * as postRepository from "../../repositories/posts.astro";

const pageTitle = "Blog";

const breadcrumbs: BreadcrumbElement[] = [
  {
    icon: "folder",
    url: "/blog",
    text: "Blog",
  },
];

const allPosts = await postRepository.all();
---

<Layout title={pageTitle}>
  <Breadcrumb class="px-2" breadcrumbs={breadcrumbs} />

  <h1 class="px-4 text-4xl font-bold text-center my-12">{pageTitle}</h1>

  <ol class="px-4 text-gray-500">
    {
      allPosts.map((post) => (
        <li class="mb-8">
          <span class="text-sm">
            {post.created_at}
          </span>
          <h3 class="pt-1.5 font-medium text-black leading-tight">
            <a
              class="hover:underline"
              href={`/blog/${post.created_at}/${post.slug}/`}
            >
              {post.title}
            </a>
          </h3>
          <p class="text-sm">{post.description}</p>
        </li>
      ))
    }
  </ol>
</Layout>
