---
import Layout from "../..//layouts/Layout.astro";
import type { BreadcrumbElement } from "../../components/Breadcrumb.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import * as postRepository from "../../repositories/posts.astro";

const pageTitle = "Blog";

const breadcrumbs: BreadcrumbElement[] = [
  {
    icon: "folder",
    url: "/blog",
    text: "Blog",
  },
];

const allPosts = await postRepository.all();
---

<Layout title={pageTitle}>
  <Breadcrumb class="px-2" breadcrumbs={breadcrumbs} />

  <h1 class="text-4xl font-bold text-center my-12">{pageTitle}</h1>

  <ol class="ml-16 relative text-gray-500 border-l border-gray-200">
    {
      allPosts.map(({ frontmatter, postRef }) => (
        <li class="mb-12 ml-20">
          <span class="absolute flex items-center justify-center w-24 h-8 -left-10 bg-gray-200 rounded-full text-sm">
            {postRef.created_at}
          </span>
          <h3 class="pt-1.5 font-medium text-black leading-tight">
            <a
              class="hover:underline"
              href={`/blog/${postRef.created_at}/${postRef.slug}/`}
            >
              {frontmatter.title}
            </a>
          </h3>
          <p class="text-sm">{frontmatter.description}</p>
        </li>
      ))
    }
  </ol>
</Layout>
